body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
  }
  #paragraph-resultado {
    margin-top: 25px
  }
  input{
    margin-top: 5px;
    width: 200px;
  }
 